/*----------------------
  Root Variables
----------------------*/
:root {
  /* Black & White */
  --color-white: #FFFFFF;
  --color-black: #000000;
  
  /* Grayscale */
  --color-gray-10: #141426;
  --color-gray-09: #1C283E;
  --color-gray-08: #3D4A62;
  --color-gray-07: #65728A;
  --color-gray-06: #808998;
  --color-gray-05: #AAB0BB;
  --color-gray-04: #C6CAD1;
  --color-gray-03: #D9DBE0;
  --color-gray-02: #EDF1F1;
  --color-gray-01: #F9FAFA;

  /* Primary Color */
  --color-blue-10: #0F2D63;
  --color-blue-09: #143B81;
  --color-blue-08: #1A4CA7;
  --color-blue-07: #2161D6;
  --color-blue-06: #246BEB;
  --color-blue-05: #5089EF;
  --color-blue-04: #6C9CF2;
  --color-blue-03: #9ABBF6;
  --color-blue-02: #BBD1F9;
  --color-blue-01: #E9F0FD;

  /* Text Color */
  --color-text-01: #141426;
  --color-text-02: #1C283E;
  --color-text-03: #3D4A62;
  --color-text-04: #65728A;
  --color-text-05-disabled: #808998;

  /* Background Color */
  --bg-white: #FFFFFF;
  --bg-blue: #DDEBFF;
  --bg-light-blue: #E7EDF6;

  /* System Color */
  --color-red: #da1218;
  --color-badge-red: #ee0000;
  --color-yellow: #f0d400;

  /* Typography Variables */
  --font-heading-04-size: 28px;
  --font-heading-04-size-rem: 1.75rem;
  --font-heading-04-weight: 700;
  --font-heading-04-line-height: 140%;
  --font-heading-04-letter-spacing: -0.3%;

  --font-heading-03-size: 24px;
  --font-heading-03-size-rem: 1.5rem;
  --font-heading-03-weight: 700;
  --font-heading-03-line-height: 140%;
  --font-heading-03-letter-spacing: -0.3%;

  --font-heading-02-size: 22px;
  --font-heading-02-size-rem: 1.25rem;
  --font-heading-02-weight: 700;
  --font-heading-02-line-height: 140%;
  --font-heading-02-letter-spacing: -0.3%;

  --font-heading-01-size: 20px;
  --font-heading-01-size-rem: 1.25rem;
  --font-heading-01-weight: 700;
  --font-heading-01-line-height: 140%;
  --font-heading-01-letter-spacing: -0.3%;

  --font-title-02-b-size: 18px;
  --font-title-02-b-size-rem: 1.125rem;
  --font-title-02-b-weight: 700;
  --font-title-02-b-line-height: 140%;
  --font-title-02-b-letter-spacing: -0.3%;

  --font-title-02-m-size: 18px;
  --font-title-02-m-size-rem: 1.125rem;
  --font-title-02-m-weight: 500;
  --font-title-02-m-line-height: 140%;
  --font-title-02-m-letter-spacing: -0.3%;

  --font-title-01-b-size: 16px;
  --font-title-01-b-size-rem: 1rem;
  --font-title-01-b-weight: 700;
  --font-title-01-b-line-height: 140%;
  --font-title-01-b-letter-spacing: -0.3%;

  --font-title-01-m-size: 16px;
  --font-title-01-m-size-rem: 1rem;
  --font-title-01-m-weight: 500;
  --font-title-01-m-line-height: 140%;
  --font-title-01-m-letter-spacing: -0.3%;

  --font-sub-title-01-size: 14px;
  --font-sub-title-01-size-rem: 0.875rem;
  --font-sub-title-01-weight: 700;
  --font-sub-title-01-line-height: 140%;
  --font-sub-title-01-letter-spacing: -0.3%;

  --font-body-02-b-size: 16px;
  --font-body-02-b-size-rem: 1.125rem;
  --font-body-02-b-weight: 700;
  --font-body-02-b-line-height: 150%;
  --font-body-02-b-letter-spacing: -0.3%;

  --font-body-02-m-size: 16px;
  --font-body-02-m-size-rem: 1.125rem;
  --font-body-02-m-weight: 500;
  --font-body-02-m-line-height: 150%;
  --font-body-02-m-letter-spacing: -0.3%;

  --font-body-01-b-size: 15px;
  --font-body-01-b-size-rem: 1rem;
  --font-body-01-b-weight: 700;
  --font-body-01-b-line-height: 150%;
  --font-body-01-b-letter-spacing: -0.3%;

  --font-body-01-m-size: 15px;
  --font-body-01-m-size-rem: 1rem;
  --font-body-01-m-weight: 500;
  --font-body-01-m-line-height: 150%;
  --font-body-01-m-letter-spacing: -0.3%;

  --font-caption-02-b-size: 14px;
  --font-caption-02-b-size-rem: 0.875rem;
  --font-caption-02-b-weight: 700;
  --font-caption-02-b-line-height: 150%;
  --font-caption-02-b-letter-spacing: -0.3%;

  --font-caption-02-m-size: 14px;
  --font-caption-02-m-size-rem: 0.875rem;
  --font-caption-02-m-weight: 500;
  --font-caption-02-m-line-height: 150%;
  --font-caption-02-m-letter-spacing: -0.3%;

  --font-caption-01-b-size: 13px;
  --font-caption-01-b-size-rem: 0.75rem;
  --font-caption-01-b-weight: 700;
  --font-caption-01-b-line-height: 150%;
  --font-caption-01-b-letter-spacing: -0.3%;

  --font-caption-01-m-size: 13px;
  --font-caption-01-m-size-rem: 0.75rem;
  --font-caption-01-m-weight: 500;
  --font-caption-01-m-line-height: 150%;
  --font-caption-01-m-letter-spacing: -0.3%;

  --font-label-01-b-size: 12px;
  --font-label-01-b-size-rem: 0.75rem;
  --font-label-01-b-weight: 700;
  --font-label-01-b-line-height: 150%;
  --font-label-01-b-letter-spacing: -0.3%;

  --font-label-01-m-size: 12px;
  --font-label-01-m-size-rem: 0.75rem;
  --font-label-01-m-weight: 500;
  --font-label-01-m-line-height: 150%;
  --font-label-01-m-letter-spacing: -0.3%;

  /* Border Radius Variables */
  --radius-1: 0.5rem;    /* 8px */
  --radius-2: 0.75rem;   /* 12px */
  --radius-3: 1rem;      /* 16px */
  --radius-4: 1.25rem;   /* 20px */
  --radius-5: 1.5rem;    /* 24px */
  --radius-6: 2.5rem;    /* 40px */
  --radius-circle: 100%; /* 100% to make a perfect circle */
  --radius-pill: 999px; /* pill-shaped */
}

/*----------------------
  Icons Variables
----------------------*/
$icon-radius-border: .25rem; // 아이콘 테두리 반경
$icon-color-background: transparent; // 아이콘 배경색
$icon-color-foreground-default: var(--color-gray-07); // 기본 아이콘 색상 (fallback)
$icon-color-foreground-success: var(--color-blue-06);
$icon-color-foreground-error: var(--color-red);
