// 기본 브라우저 스타일 리셋
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// 기본 폰트 설정
body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1rem; // 16px
  line-height: 1.5; // 기본 줄 간격 (24px)
}

/*----------------------
  Accessibility
----------------------*/
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.assistive-text {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;

  /* .assistive-text_focus 클래스가 있는 요소가 포커스되었을 때 스타일 */
  &:focus {
    position: static !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    clip: auto !important;
    color: #5e5e5e;
    background: #fff;
    padding: 4px; /* 텍스트를 보기 쉽게 하기 위해 패딩 추가 */
  }
  
}

/*----------------------
  Scrollbar
----------------------*/
/* Chrome, Whale, Edge */

/* scrollbar sizing */
.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar thumb */
.scroll::-webkit-scrollbar-thumb {
  background: rgba(193, 198, 207, 0.7); /* 스크롤바 색상 */
  border-radius: 8px;
  transition: 0.3s;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(172, 177, 185, 0.7); /* hover 상태에서 약간 더 진하게 */
}

/* scrollbar track */
.scroll::-webkit-scrollbar-track {
  background: rgba(0,0,0,0); /*스크롤바 뒷 배경 색상*/
}

.scroll {
  scrollbar-gutter: auto;
  box-sizing: content-box;
}