/*----------------------
  Pretendard Font
----------------------*/
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'),
       url('../fonts/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2'),
       url('../fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2'),
       url('../fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2'),
       url('../fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/*----------------------
  Typography Classes
----------------------*/
.heading-04 {
  @include font-heading-04;
}

.heading-03 {
  @include font-heading-03;
}

.heading-02 {
  @include font-heading-02;
}

.heading-01 {
  @include font-heading-01;
}

.title-02-b {
  @include font-title-02-b;
}

.title-02-m {
  @include font-title-02-m;
}

.title-01-b {
  @include font-title-01-b;
}

.title-01-m {
  @include font-title-01-m;
}

.sub-title-01 {
  @include font-sub-title-01;
}

.body-02-b {
  @include font-body-02-b;
}

.body-02-m {
  @include font-body-02-m;
}

.body-01-b {
  @include font-body-01-b;
}

.body-01-m {
  @include font-body-01-m;
}

.caption-02-b {
  @include font-caption-02-b;
}

.caption-02-m {
  @include font-caption-02-m;
}

.caption-02-r {
  @include font-caption-02-r;
}

.caption-01-b {
  @include font-caption-01-b;
}

.caption-01-m {
  @include font-caption-01-m;
}

.label-01-b {
  @include font-label-01-b;
}

.label-01-m {
  @include font-label-01-m;
}

.title-03-b {
  @include font-title-03-b;
}

.title-04-b {
  @include font-title-04-b;
}

.title-05-b {
  @include font-title-05-b;
}

.title-06-b {
  @include font-title-06-b;
}

.sub-title-02 {
  @include font-sub-title-02;
}

.sub-title-03 {
  @include font-sub-title-03;
}

.title-00-m {
  @include font-title-00-m;
}

.title-00-b {
  @include font-title-00-b;
}

.timer {
  @include font-timer;
}
