
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  z-index: 20; /* 모달 아래에 위치하도록 적절한 z-index 설정 */

  &-dialog {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    margin: var(--dialog-margin);
    pointer-events: none;
    // max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 21;
    min-height: calc(100% - var(--dialog-margin) * 2); 
    
    /* Modal Sizes
    ----------------------
    md       : 360px  | Confirm Dialog
    lg       : 480px  | Default Modal
    x-lg     : 720px  | Large Modal
    xx-lg    : 960px  | Extra Large Modal
    modal-app: 986px  | App Store Modal
    ---------------------- */
    
    /* size sm: alert */
    &.sm {
      max-width: var(--dialog-sm-width);

      .modal-content {
        gap: var(--alert-padding);
        padding-bottom: var(--alert-padding);
      }
      .modal-content,
      .modal-header,
      .modal-footer {
        justify-content: center;
        text-align: center;
      }
      .modal-footer {
        .button {
          min-width: 74px;
        }
      }
    }
    /* size md: confirm */
    &.md {
      max-width: var(--dialog-md-width);
    }
    /* size lg: modal */
    &.lg {
      max-width: var(--dialog-lg-width);

      .modal-title {
        font-size: 21px;
      }
    }
    &.x-lg {
      max-width: var(--dialog-x-lg-width);
    }
    &.xx-lg {
      max-width: var(--dialog-xx-lg-width);

      .modal-title {
        font-size: 24px;
      }
    }

    /* App Store Modal */
    &.modal-app {
      max-width: var(--dialog-app-width);
    }

    /* Form Controls */
    .form-element + .form-element {
      margin-top: 20px;
      &.gap-8 {
        margin-top: 8px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--dialog-padding);
    width: 100%;
    max-height: calc(100vh - 66px);
    padding: var(--dialog-padding);
    border-radius: var(--radius-4);
    background-color: var(--bg-white);
    background-clip: padding-box;
    pointer-events: auto;
    outline: 0;
    position: relative;
  }

  &-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &.with-btn {
      width: 100%;
      justify-content: space-between;

      h5 {
        flex: 1;
      }
    }
  }
  
  &-title {
    color: var(--color-text-01);
    @include font-title-02-b;
  }

  &-body {
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    max-height: calc(95vh - 220px);

    p {
      color: var(--color-text-03);

      em {
        @include font-body-01-b
      }

      &+p {
        margin-top: 10px;
      }

      &+.form-element__control {
        margin-top: 16px;
      }
    }
    .code {
      margin: 30px auto 32px;
    }
  }

  &-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    button {
      &:not(:only-child) {
        min-width: initial;
      }
    }
  }

}

/*----------------------
  학생 화면 크게 보기 모달
----------------------*/
.modal-dialog.screen {

  .modal-content {
    padding: 0;
    gap: 0;
    overflow: hidden;
  }

  .modal-header {
    padding: 24px 32px;

    h5 {
      flex: 1;
    }

    .btn-area {
      gap: 16px;
    }
  }

  .modal-body {
    padding: 0;
    background-color: var(--color-black);
    overflow: hidden;
    height: 540px; /* 세로 고정값 */
  }

  .video-container {
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    @include flex-center;
    overflow: hidden;
  }
  video {
    width: 100%;
    height: 100%;
  }
}

/*----------------------
  Tool Bar Modal
----------------------*/
.app-container {
  height: calc(100vh - 362px);
  margin-bottom: 32px;
  background-color: #eee;
  position: relative;
  z-index: 1;
}

.file {

  &-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-item {
    gap: 8px;
    @include flex-space-between;
  }

  
  &-icon {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-2);
    background-color: var(--color-gray-02);
    @include flex-center;

    &.sm {
      width: 32px;
      height: 32px;
    }
    
    &.icon {
      color: var(--color-gray-07);
    }
  }

  &-info {
    flex: 1;
    text-align: left;

    &.send {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &-name {
    color: var(--color-text-03);
    @include font-body-01-m;
    @include text-truncate($lines: 1);
  }

  &-size {
    height: 22px;
    display: inline-block;
    color: var(--color-text-05-disabled);
    @include font-body-01-m;
  }
}