/*----------------------
  Icon
----------------------*/
.icon-container {
  display: inline-block;
  border-radius: $icon-radius-border; // SCSS 변수 사용
  line-height: 1;
  background-color: $icon-color-background; // SCSS 변수 사용
}

// 아이콘 기본 스타일
.icon {
  // 24px
  width: 1.5rem;
  height: 1.5rem;
  color: currentColor;
  
  // 아이콘 기본 색상 클래스
  &-default {
    color: $icon-color-foreground-default;
  }
  &-success {
    color: $icon-color-foreground-success;
  }
  &-error {
    color: $icon-color-foreground-error;
  }

  // 아이콘 사이즈 클래스
  &_x-small {
    // 16px
    width: 1rem;
    height: 1rem;
  }
  &_small {
    // 20px
    width: 1.25rem;
    height: 1.25rem;
  }
  &_large {
    // 32px
    width: 2rem;
    height: 2rem;
  }
  &_x-large {
    // 40px
    width: 2.5rem;
    height: 2.5rem;
  }

  // With Icon
  &_left {
    margin-right: 0.25rem;
  }
  &_right {
    margin-left: 0.25rem;
  }
}

//부모 요소의 색상을 아이콘 색상으로 사용
.current-color .icon {
  color: currentColor; // SCSS 변수 사용
}

svg:not(:root) {
  overflow: hidden; // SVG의 영역을 넘어서는 콘텐츠를 숨김
}