/*----------------------
  SNB
----------------------*/
.snb {
  width: 320px;
  flex-shrink: 0; /* flexbox에서 width 고정 */
  background-color: #E7EDF6;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s ease, width 0.3s ease;

  /* SNB Content */
  &-cont {
  transform: translateX(0);
  }

  /* SNB Title */
  &-tit {
    padding-bottom: 10px;
    text-align: left;
    color: var(--color-text-01);
    @include flex-space-between;
    @include font-title-02-b;
    
    &:not(:first-of-type) {
      margin-top: 40px;
    }
    
    .btn-group {
      gap: 0.625rem;
      color: var(--color-gray-07);

      .button {
        width: 1.375rem;
        height: 1.375rem;
      }
    }
  }

  /* SMB Description */
  &-desc {
    margin-top: 8px;
    color: var(--color-text-04);
    @include font-caption-01-m;
  }

  /* SNB Form */
  .form-element {
    margin-bottom: 1.5rem;
  }
  
  /* Tabs */
  .tabs__content {
  padding: 30px;
  }
}

/* SNB Actions */
.snb.closed {
  transform: translateX(-100%);
  width: 0;
}

.snb.closed .snb-cont {
  transform: translateX(-100%);
  opacity: 0;
  /* width: 0; */
}


